@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@100;400;700&display=swap');

body {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: hsl(217, 28%, 15%);
}
a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 2rem;
}
div.intro-row {
  justify-content: center;
  text-align: center;
  background-image: url("./assets/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
h1 {
  font-weight: bold;
  margin: 2rem 0;
  font-size: 3rem;
}

div.intro-row p {
  font-size: 1.5rem;
}
div.intro-row img {
  width: 70%;
  padding: 3rem;
}

div.intro-row button {
  background: linear-gradient(0.25turn, #66e3db, #339ecc);
  padding: 0.75rem;
  width: 15%;
  border-radius: 25px;
  border: none;
  margin: 1rem 0;
  color: white; 
}

h3 {
  margin: 1.5rem 0;
}

/* div.dark-bg {
background-color: hsl(218, 28%, 13%);
width: max-content;
} */
div.row-navbar {
  padding: 2rem 0;
}