#root {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

body {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  min-height: 100vh;
  text-align: center;
}

/* .intro-img {
  width: 50%;
  padding: 3rem;
} */
div.intro-row {
  justify-content: center;
  padding: 5rem;
}

div.intro-row h1 {
  margin: 3rem;
  font-size: 4rem;
}
div.intro-row p {
  font-size: 1.5rem;
}
div.intro-row img {
  width: 100%;
  padding: 3rem;
}

div.intro-row button {
  background: linear-gradient(0.25turn, #66e3db, #339ecc);
  padding: 0.5rem;
  width: 20%;
  border-radius: 20px;
  border: none;
  margin: 1rem 0;
  color: white;
  
}